/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * Nibble implementation : © Matheus Gomes matheusgomesforwork@gmail.com
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * nibble.css
 *
 * Nibble stylesheet
 *
 */

html {
  --pieceSize: 60px;
  --pieceSizeSM: 30px;
}

.bga-cards_disabled-card {
  opacity: 0.75;
}

.nib_colorblindHelp {
  display: none;
}

.nib_colorblind .nib_colorblindHelp {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  text-align: center;
  padding: 1px;
}

.nib_square .nib_disc,
.nib_square .nib_disc div {
  border-radius: 0 !important;
}

.nib_square .nib_selectedDisc,
.nib_square .nib_selectedDisc div {
  border-radius: 100% !important;
}

.nib_reduceBrightness .nib_disc, .nib_reduceBrightness .nib_separator, .nib_reduceBrightness .nib_color-log {
  filter: brightness(0.75);
}

.nib_reduceBrightness .nib_disc.bga-cards_disabled-card {
  filter: contrast(0.6) brightness(0.75) !important;
}

html:not(.nib_13colors) [data-variant="13"] {
  display: none;
}

.nib_gameArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 0 4px;
}

.nib_winConWarn {
  text-align: center;
}

.nib_main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap-reverse;
}

.nib_gameArea div {
  box-sizing: border-box;
  margin: 0;
}

.nib_boardContainer {
  display: grid;
  grid-template-areas:
    ". x x x x x x x x x"
    "y a a a a a a a a a"
    "y a a a a a a a a a"
    "y a a a a a a a a a"
    "y a a a a a a a a a"
    "y a a a a a a a a a"
    "y a a a a a a a a a"
    "y a a a a a a a a a"
    "y a a a a a a a a a"
    "y a a a a a a a a a";
  gap: 8px;
}

.nib_xAxis {
  display: grid;
  grid-area: x;
  grid-template-columns: repeat(auto-fit, var(--pieceSize));
  gap: 4px;
}

.nib_yAxis {
  display: grid;
  grid-area: y;
  grid-template-rows: repeat(auto-fit, var(--pieceSize));
  gap: 4px;
  vertical-align: middle;
}

.nib_axisNumber {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nib_board {
  grid-area: a;
  display: grid;
  grid-template-rows: repeat(9, var(--pieceSize));
  grid-template-columns: repeat(9, var(--pieceSize));
  gap: 4px;
}

.nib_collections {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 4px;
}

.nib_collectionContainer {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
}

.nib_collectionTitle {
  background-color: white;
  border-radius: calc(var(--pieceSize) / 5);
  margin: 4px 0;
  padding: 0 4px;
  width: fit-content;
}

.nib_collection .slot {
  display: flex;
  flex-direction: column;
  gap: 2px;
  order: 99;
  width: var(--pieceSizeSM);
}

.nib_collection .nib_disc {
  height: var(--pieceSizeSM);
  width: var(--pieceSizeSM);
}

.nib_collection .nib_colorblindHelp {
  display: none;
}

.nib_separators {
  display: flex;
  flex-shrink: 0;
  order: 2;
  height: calc(var(--pieceSize) / 4);
}

.nib_separator {
  position: relative;
  flex-shrink: 0;
  height: 100%;
  width: calc(var(--pieceSizeSM) + 2px);
}

.nib_separator .nib_colorblindHelp {
  font-size: 12px;
}

.nib_disc {
  position: relative;
  border-radius: 100%;
  height: var(--pieceSize);
  width: var(--pieceSize);
}

.nib_disc div {
  border-radius: 100%;
}

.nib_selectedDisc {
  border-radius: 0;
}

.nib_selectedDisc div {
  border-radius: 0;
}

.nib_counters {
  display: flex;
  gap: 2px;
  flex-wrap: wrap;
  padding-top: 4px;
}

.nib_counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.nib_counter .nib_disc {
  height: var(--pieceSizeSM);
  width: var(--pieceSizeSM);
}

.nib_counter .nib_colorblindHelp {
  font-size: 12px;
}

.nib_highlight-log {
  font-weight: bold;
}

.nib_color-log {
  font-weight: bold;
  padding: 0 2px;
}

body > .card {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.card {
  flex-shrink: 0;
}
.card[data-side="back"] .card-sides {
  transform: rotateY(180deg);
}
.card .card-sides {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
.card .card-sides .card-side {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  transform-origin: center center;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.card .card-sides .card-side.front > * {
  pointer-events: none;
  user-select: none;
}
.card .card-sides .card-side.back {
  transform: rotateY(180deg);
}
.card .card-sides .card-side.back > * {
  pointer-events: none;
  user-select: none;
}

.card-stock .card.bga-cards_selectable-card:not(.bga-cards_disabled-card) {
  cursor: pointer;
}
.card-stock .card.bga-cards_disabled-card {
  cursor: not-allowed;
  filter: contrast(0.6);
}

.card-stock.line-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}
.card-stock.line-stock[data-center="true"] {
  justify-content: center;
}

.card-stock.slot-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}
.card-stock.slot-stock[data-center="true"] {
  justify-content: center;
}

.card-stock.scrollable-stock {
  display: flex;
  gap: var(--button-gap);
}
.card-stock.scrollable-stock[data-scrollbar-visible="false"] {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.card-stock.scrollable-stock[data-scrollbar-visible="false"]::-webkit-scrollbar {
  display: none;
}
.card-stock.scrollable-stock .scrollable-stock-inner {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: var(--gap);
}
.card-stock.scrollable-stock .scrollable-stock-inner[data-center="true"] {
  justify-content: center;
}

.card-stock.hand-stock {
  display: flex;
  justify-content: center;
}
.card-stock.hand-stock .card {
  transform: translateY(
      calc(var(--card-shift) * var(--hand-stock-middle-index-abs))
    )
    rotate(calc(var(--hand-stock-middle-index) * var(--card-inclination)));
}
.card-stock.hand-stock .card:not(:first-child) {
  margin-left: calc(-1 * var(--card-overlap));
}

.card-stock.manual-position-stock {
  position: relative;
}
.card-stock.manual-position-stock .card {
  position: absolute;
}

.card-stock.void-stock {
  position: relative;
}
.card-stock.void-stock .card {
  position: absolute;
}

.card-stock.deck {
  position: relative;
  width: var(--width);
  height: var(--height);
}
.card-stock.deck > .card {
  position: absolute;
  top: calc(var(--thickness) * var(--xShadowShift) * -1);
  left: calc(var(--thickness) * var(--yShadowShift) * -1);
}
.card-stock.deck > .card:first-child {
  box-shadow: calc(var(--thickness) * var(--xShadowShift))
      calc(var(--thickness) * var(--yShadowShift)) 0px 0px #111,
    calc(var(--thickness) * var(--xShadowShift))
      calc(var(--thickness) * var(--yShadowShift)) 2px 1px rgba(0, 0, 0, 0.5);
}
.card-stock.deck[data-empty="true"] > .card {
  visibility: hidden;
}
.card-stock.deck[data-empty="true"] .bga-cards_deck-counter.hide-when-empty {
  display: none;
}

.bga-cards_deck-counter {
  --bga-cards-deck-counter-size: 20px;
  position: absolute;
  z-index: 2;
  width: var(--bga-cards-deck-counter-size);
  height: var(--bga-cards-deck-counter-size);
  left: calc(
    var(--bga-cards-deck-left) - var(--bga-cards-deck-counter-size) / 2
  );
  top: calc(var(--bga-cards-deck-top) - var(--bga-cards-deck-counter-size) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  pointer-events: none;
}
.bga-cards_deck-counter.round {
  color: black;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 2px 1px black;
  font-size: 14px;
}
.bga-cards_deck-counter.text-shadow {
  color: white;
  text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black;
  font-size: 20px;
}
.bga-cards_deck-counter.hidden {
  display: none;
}

.card-stock.all-visible-deck {
  position: absolute;
  --tile-count: 1;
  width: calc(var(--width) + (var(--tile-count) - 1) * var(--horizontal-shift));
  height: calc(var(--height) + (var(--tile-count) - 1) * var(--vertical-shift));
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out,
    background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
.card-stock.all-visible-deck > .card {
  position: absolute;
  margin: 0;
  transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
  top: calc(var(--vertical-shift) * var(--order));
  left: calc(var(--horizontal-shift) * var(--order));
}
.card-stock.all-visible-deck.vertical:hover,
.card-stock.all-visible-deck.vertical:active,
.card-stock.all-visible-deck.vertical.opened {
  height: calc(
    (var(--height) + var(--vertical-shift)) * var(--tile-count) -
      var(--vertical-shift)
  );
  z-index: 1;
}
.card-stock.all-visible-deck.vertical:hover > .card,
.card-stock.all-visible-deck.vertical:active > .card,
.card-stock.all-visible-deck.vertical.opened > .card {
  top: calc((var(--height) + var(--vertical-shift)) * var(--order));
}
.card-stock.all-visible-deck.horizontal:hover,
.card-stock.all-visible-deck.horizontal:active,
.card-stock.all-visible-deck.horizontal.opened {
  width: calc(
    (var(--width) + var(--horizontal-shift)) * var(--tile-count) -
      var(--horizontal-shift)
  );
  z-index: 1;
}
.card-stock.all-visible-deck.horizontal:hover > .card,
.card-stock.all-visible-deck.horizontal:active > .card,
.card-stock.all-visible-deck.horizontal.opened > .card {
  left: calc((var(--width) + var(--horizontal-shift)) * var(--order));
}
.card-stock.all-visible-deck .bga-cards_deck-counter {
  transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
}
.card-stock.all-visible-deck[data-empty="true"] > .card {
  visibility: hidden;
}
.card-stock.all-visible-deck[data-empty="true"]
  .bga-cards_deck-counter.hide-when-empty {
  display: none;
}
