/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * Nibble implementation : © Matheus Gomes matheusgomesforwork@gmail.com
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * nibble.css
 *
 * Nibble stylesheet
 *
 */

@import url("modules/bga-cards.css");

html {
  --pieceSize: 60px;
}

.bga-cards_disabled-card {
  opacity: 0.75;
}

.nib_colorblindHelp {
  display: none;
}

.nib_colorblind .nib_colorblindHelp {
  display: block;
  position: absolute;
  left: 40%;
  top: 35%;
  background-color: white;
  text-align: center;
  width: 25%;
}

.nib_square .nib_disc,
.nib_square .nib_disc div {
  border-radius: 0 !important;
}

.nib_square .nib_selectedDisc,
.nib_square .nib_selectedDisc div {
  border-radius: 100% !important;
}

.nib_gameArea {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap-reverse;
  padding: 0 4px;
}

.nib_gameArea div {
  box-sizing: border-box;
  margin: 0;
}

.nib_board {
  display: grid;
  grid-template-rows: repeat(9, var(--pieceSize));
  grid-template-columns: repeat(9, var(--pieceSize));
  gap: 4px;
}

.nib_collections {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-grow: 1;
  padding: 4px;
  max-width: calc((var(--pieceSize) + 6px) * 9);
}

.nib_collectionContainer {
  display: flex;
  flex-direction: column;
  gap: 2px;
  max-height: calc((var(--pieceSize) + 6px) * 9);
  width: 100%;
}

.nib_collectionTitle {
  background-color: white;
  border-radius: calc(var(--pieceSize) / 5);
  margin: 4px 0;
  padding: 0 4px;
  width: fit-content;
}

.nib_collection .slot {
  display: flex;
  flex-direction: column;
  order: 99;
  width: var(--pieceSize);
}

.nib_separators {
  display: flex;
  height: calc(var(--pieceSize) / 5);
  flex-shrink: 0;
}

.nib_separator {
  flex-shrink: 0;
  height: 100%;
  width: calc(var(--pieceSize) + 4px);
}

.nib_collection .nib_disc:not(:first-child) {
  margin-top: calc(var(--pieceSize) * -0.5);
}

.nib_disc {
  border-radius: 100%;
  height: var(--pieceSize);
  width: var(--pieceSize);
}

.nib_disc div {
  border-radius: 100%;
}

.nib_selectedDisc {
  border-radius: 0;
}

.nib_selectedDisc div {
  border-radius: 0;
}
