/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * Nibble implementation : © Matheus Gomes matheusgomesforwork@gmail.com
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * nibble.css
 *
 * Nibble stylesheet
 *
 */

.nib_board {
  display: grid;
  grid-template-rows: repeat(9, 60px);
  grid-template-columns: repeat(9, 60px);
  gap: 4px;

  aspect-ratio: 1;
  margin: 0 auto;
  width: 540px;
}

.nib_disc {
  aspect-ratio: 1;
  border-radius: 100%;
  width: 60px;
}
